<main>
  <h1>My todos</h1>
  <!-- <button (click)="createTodo()">+ new</button> -->
  <ul>
    @for (todo of todos; track $index) {
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Completed</th>
            <th>CreatedAt</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.completed }}</td>
            <td>{{ todo.createdAt }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <button (click)="updateTodo(todo)">Edit</button>
      <button (click)="deleteTodo(todo.id)">Delete</button> -->
    }
  </ul>
  <div>
    🥳 App successfully hosted. Try creating a new todo.
  </div>
</main>